<footer id="footer" role="contentinfo">
  <nav>
    {% assign menu = site.menus | where: "slug", "footer" | first %}
    {% for item in menu.items %}
      {% if item.page %}
        {% assign link = site.pages | where: "slug", item.page | first %}
      {% else %}
        {% assign link = item %}
      {% endif %}
      <a{% if page.url == link.url %} class="active"{% endif %} href="{{link.url}}">{{link.title}}</a>
    {% endfor %}
  </nav>
  <p class="copyright">Copyright® {{site.title}} {{site.time | date: "%Y"}}</p>
</footer>