<header>
  <h1>
    <a href="/">
      {% if site.logo %}
        <img src="{{site.logo}}" alt="{{site.title}}" />
        <span class="sr-only">{{site.title}}</span>
      {% else %}
        {{site.title}}
      {% endif %}
    </a>
  </h1>
  <nav>
    {% assign menu = site.menus | where: "slug", "header" | first %}
    {% for item in menu.items %}
      {% if item.page %}
        {% assign link = site.pages | where: "slug", item.page | first %}
      {% else %}
        {% assign link = item %}
      {% endif %}
      <a{% if page.url == link.url %} class="active"{% endif %} href="{{link.url}}">{{link.title}}</a>
    {% endfor %}
  </nav>
</header>